[Unit]
Description=Redis Service
After=multi-user.target
Conflicts=ziquan@miao.com

[Service]
Type=simple
ExecStart=/usr/local/bin/rq worker
StandardInput=tty-force

[Install]
WantedBy=multi-user.target